.reset-password-wrapper {
  .link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;
    color: #6c757d;
    margin: 0 0 5rem;
  }

  form{
    width: 100%;
  }
  form button{
    width: 100%;
  }
}
