.layout {
  display: flex;

  .layout-content {
    width: calc(100% - 16.3rem);

    .page-wrapper {
      padding: 2rem;
      height: calc(100% - 4.3rem);
      background: #f8f9fa;
    }
  }
}

@media (max-width: 1024px) {
  .layout {
    .layout-content {
      width: 100%;

      .page-wrapper {
        height: 90vh;
        padding: 1rem 2rem;
      }
    }
  }
}
