.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #212529;
  margin-bottom: 1rem;
}

.titleMd {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: #212529;
  margin-bottom: 1.3rem;
}

.subTitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #6c757d;
  margin-bottom: 0.8rem;
  text-align: center;
}

.text,
.textBold {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #6c757d;
  text-align: center;
}

.textBold {
  color: #26203b;
  font-weight: 700;
}

.textSm,
.textSMBold {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  color: #6c757d;
  text-align: center;
}

.textSMBold {
  color: #26203b;
  font-weight: 700;
}
